html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins;
  font-weight: 300;
  color: #5d686f;
}

strong {
  font-weight: bold;
}

:root {
  --screen-max-width: 1400px;
  --screen-padding: 2rem;

  --color-green: #29a56c;
  --color-green-2: #cde5d5;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  height: 5px;
}